<!-- <h1 class='text-center'><%= @user_deck.deck.name %></h1> -->
<div class="card-container swiper-container">
  <div class="swiper-wrapper">
    <% @user_deck.deck.cards.each_with_index do |card, i|%>
      <div id="card-<%= i %>" class="card swiper-slide text-center" style="display: block;">
        <div class="hint-button-absolute">
          <button id="hint" value="hint" class="btn btn-outline-info">
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
        <div class="question" style="dispaly: block;">
          <br><br><br><h2> <%= card.question %> </h2>
        </div>
        <br><br><br>
        <div class="answer hidden">
          <div class="flashcard-content"><%= card.answer %> </div>
        </div>
        <div class="text-box hidden mb-3">
            <textarea id=user-answer-box placeholder="type your answer"></textarea> <br>
            <button id="show-answer">See Answer</button>
        </div>
        <div class="hint hidden">
          <div class="flashcard-content">HINT: <em> <%= card.hint %> </em> </div>
        </div>
        <br>
        <div class="swiper-pagination"></div>
        <div id ="activeCardButtons" class="absolute-buttons-card">
          <button class="flip" value="Flip" type="submit">Flip</button>
          <button id="know" class="know"><%= link_to "Know", user_cards_path(user_deck_id: @user_deck.id ,answer:"xxx", result: true, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <button id="unknow" class="unknow"><%= link_to "Don't Know", user_cards_path(user_deck_id: @user_deck.id, answer:"xxx", result: false, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <button id="user-answer" class="user-answer" type="button" value="Type your Answer"> Answer Me </button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <button id="instructions" value="Instruction" class="btn btn-outline-info btn-sm">
      <i class="far fa-question-circle"></i>
    </button>
  </div>
  <div id="flash-instructions" class="hidden">
    <h5 class="text-center">Instructions:</h5>
    <div class=container>
      <div class="border border-dark text-center pt-2">
        <p>Check the answer? tap <strong>Flip</strong><br>Know the answer? <em>Swipe ➡️</em><br>Don't know? tap <strong>Don't Know</strong><br>Input answer to compare? <strong>Answer Me</strong></p>
      </div>
    </div>
  </div>
</div>



