<!-- <h1 class='text-center'><%= @user_deck.deck.name %></h1> -->
<div class="card-container swiper-container mySwiper">
  <div class="swiper-wrapper">
    <% @user_deck.deck.cards.each_with_index do |card, i|%>
      <div id="card-<%= i %>" class="card swiper-slide m-2" style="display: block;">
        <button id="hint" type="submit" value="hint"> Hint </button>
        <div class="question m-2" style="dispaly: block;">
          <br><br><br><h2> <%= card.question %> </h2>
        </div><br>
        <hr><br>
        <div class="answer hidden" style="overflow-y:scroll;">
          <h2>Answer:</h2>
          <div class="flashcard-content"><%= card.answer %> </div>
        </div>
        <div class="text-box hidden mb-3">
            <textarea id=user-answer-box placeholder="type your answer"></textarea> <br>
            <button id="show-answer">See Answer</button>
        </div>
        <div class="hint hidden">
          <h4>Hint:</h4>
          <div class="flashcard-content"><%= card.hint %> </div>
        </div>
        <br>
        <div id ="activeCardButtons">
          <!-- <button class="flip" value="Flip" type="submit">Flip</button> -->
          <button id="know" class="know"><%= link_to "Know", user_cards_path(user_deck_id: @user_deck.id ,answer:"xxx", result: true, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <button id="unknow" class="unknow"><%= link_to "Don't Know", user_cards_path(user_deck_id: @user_deck.id, answer:"xxx", result: false, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <button id="user-answer" class="user-answer" type="button" value="Type your Answer"> Answer Me </button>
        </div>
        <br>
      </div>
    <% end %>
  </div>
  <br>
  <!-- <hr> -->
  <div class="text-center">
    <button id="instructions" type="submit" value="Instruction">❓</button>
  </div>
  <div id="flash-instructions" class="hidden">
    <h5 class="text-center">Instructions:</h5>
    <div class=container>
      <div class="border border-dark text-center pt-2">
        <p>Check the answer? tap <strong>Flip</strong><br>Know the answer? <em>Swipe ➡️</em><br>Don't know? tap <strong>Don't Know</strong><br>Input answer to compare? <strong>Answer Me</strong></p>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>



