<h1 class='text-center'><%= @user_deck.deck.name %></h1>
<div class="card-container swiper-container mySwiper">
  <div class="swiper-wrapper">
    <% @user_deck.deck.cards.each_with_index do |card, i|%>
      <div id="card-<%= i %>" class="card swiper-slide" style="display: block;">
        <h2>Question:</h2>
        <div class="question" style="dispaly: block;"><%= card.question %></div><br>
        <hr><br>
        <div class="answer hidden">
          <h2>Answer:</h2>
          <div class="flashcard-content"><%= card.answer %> </div>
        </div>
        <div class="text-box hidden mb-3">
          <form>
            <!-- need to update this submit button to link to user_cards answer column -->
            <input type="text">
            <input type="submit">
          </form>
        </div>
        <div class="hint hidden">
          <h4>Hint:</h4>
          <div class="flashcard-content"><%= card.hint %> </div>
        </div>
        <br>
        <div id ="activeCardButtons">
          <button id="flip" type="button" value="Flip" onclick="flip()">Flip</button>
          <!-- need add if statement later, if not exist, then go to create, if exist, then go to update -->
          <button id="know" onclick="nextCard()"><%= link_to "Know", user_cards_path(answer:"xxx", result: true, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <button id="unknow" onclick="nextCard()"><%= link_to "Don't Know", user_cards_path(answer:"xxx", result: false, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <button id="hint" type="button" value="hint" onClick="hint()"> Hint </button>
          <button id="user-answer" type="button" value="Type your Answer" onClick="add()"> Answer Me? </button>
        </div>
        <br>
      </div>
    <% end %>
  </div>
  <br>
  <hr>
  <div id="flash-instructions">
    <h5 class="text-center">Instructions:</h5>
    <div class=container>
      <div class="border border-dark text-center pt-2">
        <p>Check the answer? tap <strong>Flip</strong><br>Know the answer? <em>Swipe ➡️</em><br>Don't know? tap <strong>Don't Know</strong><br>Input answer to compare? <strong>Answer Me?</strong></p>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script type="text/javascript">
  var swiper = new Swiper(".mySwiper", {
    a11y: {
      // still not working
      enabled: true,
      firstSlideMessage: 'Lets go!!',
      lastSlideMessage: "Last one and done!",
    },
    effect: 'cube',
    cubeEffect: {
      shadow: true,
      slideShadows: true,
      shadowOffset: 20,
      shadowScale: 0.94,
    },
      // effect: 'fade',
    loop: true,
    allowSlidePrev: false,
    watchSlidesProgress: true,
      // allowSlideNext: false,
    slidesPerView:1,
    spaceBetween: 30,
    pagination: {
    el: '.swiper-pagination',
    type: 'progressbar',
    // type: 'fraction',
    },
    // breakpoints: {
    //   640: {
    //     slidesPerView: 1,
    //     spaceBetween: 20,
    //   },
    //   768: {
    //     slidesPerView: 1,
    //     spaceBetween: 40,
    //   },
    //     1024: {
    //       slidesPerView: 1,
    //       spaceBetween: 50,
    //     },
    //   }
  });

  swiper.on('slideChange', function(){
    let hideAnswers = document.querySelectorAll(".answer")
    hideAnswers.forEach((e) => {
      if (!e.classList.contains("hidden")) {
        e.classList.add("hidden")
        console.log("add hidden")
      }
    });
  });
  // function to block swipe unless having checked answer
    // swiper.on('slideNextTransitionEnd', function(){
    //   console.log('checking transition')
    //   swiper.allowSlideNext = false
   // })

  let currentIndex = 0
  let nextIndex = 1
  let cards = document.querySelectorAll(".card")

  let current = document.getElementById(`card-${currentIndex}`)
  current.style.display = "block"

  const next = document.getElementById(`card-${nextIndex}`)

  const questions = document.querySelectorAll(".question")
  const answers = document.querySelectorAll(".answer")
  const hints = document.querySelectorAll(".hint")

  function nextCard() {
    answers.forEach(e => e.classList.add("hidden"))
    questions.forEach(e => e.classList.remove("hidden"))
    current.style.display = "none"
    next.style.display = "block"
    current = next
    currentIndex = currentIndex === (cards.length - 1) ? 0 : currentIndex + 1
    nextIndex = nextIndex === (cards.length - 1) ? 0 : nextIndex + 1
    next = document.getElementById(`card-${nextIndex}`)
  }

  function flip() {
    answers.forEach(e => e.classList.toggle("hidden"))
    // swiper.allowSlideNext = true
  }

  function hint() {
    hints.forEach(e => e.classList.toggle("hidden"))
  }

  function add() {
   const userAnswers = document.querySelectorAll(".text-box")
   userAnswers.forEach(e => e.classList.toggle("hidden"))
  }
</script>


