<!-- <h1 class='text-center'><%= @user_deck.deck.name %></h1> -->
<div class="card-container swiper-container">
  <div class="swiper-wrapper">
    <% @user_deck.deck.cards.each_with_index do |card, i|%>
      <div id="card-<%= i %>" class="card swiper-slide m-2" style="display: block;">
        <button id="hint" class="btn btn-outline-info m-2" type="submit" value="hint">
          <i class="fas fa-info-circle" style="font-size: 20px;"></i>
        </button>
        <div class="question m-2" style="dispaly: block;">
          <br><h3> <%= card.question %> </h3>
        </div><br>
        <div class="answer hidden a-box" style="overflow-y:scroll;">
          <h6 class="text-left m-1">Answer:</h6>
          <div class="flashcard-content"><%= card.answer %> </div>
        </div>
        <div class="text-box hidden m-2">
            <textarea id=user-answer-box placeholder="type your answer"></textarea> <br>
            <button id="show-answer" class="btn btn-primary btn-sm">See Answer</button>
        </div>
        <div class="hint hidden">
          <div class="flashcard-content"> HINT:<%= card.hint %> </div>
        </div>
        <br>
        <div id ="activeCardButtons" class="d-flex justify-content-around m-6">
          <!-- <button class="flip" value="Flip" type="submit">Flip</button> -->
          <button id="know" class="know btn btn-outline-success">
              <%= link_to "", user_cards_path(user_deck_id: @user_deck.id ,answer:"xxx", result: true, card_id: card.id, user_id: current_user.id), method: :post, class:"fas fa-check-circle", style:"font-size: 36px; text-decoration: none;" %>
          </button>
          <button id="user-answer" class="user-answer btn btn-outline-secondary" type="button" value="Type your Answer">
            <i class="fas fa-pen-square" style="font-size: 36px;"></i>
          </button>
          <button id="unknow" class="unknow btn btn-outline-danger">
            <%= link_to "", user_cards_path(user_deck_id: @user_deck.id, answer:"xxx", result: false, card_id: card.id, user_id: current_user.id), method: :post, class:"fas fa-times-circle", style:"font-size: 36px; text-decoration: none;" %>
          </button>
        </div>
<!--         <div class="swiper-pagination"></div> -->
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <button id="instructions" type="submit" value="Instruction" class="btn btn-outline-info">
      <i class="fas fa-question-circle"></i>
    </button>
  </div>
  <div id="flash-instructions" class="hidden">
    <div class=container>
      <div class="border border-dark text-center pt-2">
        <p>Check the answer? <strong> Tap on the question </strong> <br>Know the answer? tap ✔︎ <br>Don't know? tap ✘<br>Input answer to compare? tap ✎</p>
      </div>
    </div>
  </div>
</div>



