<!-- <h1 class='text-center'><%= @user_deck.deck.name %></h1> -->
<div class="card-container swiper-container">
  <div class="swiper-wrapper">
    <% @user_deck.deck.cards.each_with_index do |card, i|%>
      <div id="card-<%= i %>" class="card d-flex justify-content-between swiper-slide text-center" style="display: block;">
        <div class="hint-button-absolute">
          <button id="hint" value="hint" class="btn btn-outline-info">
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
        <div class="question" style="dispaly: block;">
          <br><br><br><h2> <%= card.question %> </h2>
        </div>
        <br><br><br>
        <div class="answer hidden">
          <div class="flashcard-content"><%= card.answer %> </div>
        </div>
        <br>
        <div class="text-box hidden mb-3">
            <textarea id=user-answer-box placeholder="type your answer"></textarea> <br>
            <button id="show-answer" class="btn btn-outline-secondary btn-sm">See Answer</button>
        </div>
        <div class="hint hidden">
          <div class="flashcard-content">HINT: <em> <%= card.hint %> </em> </div>
        </div>
        <div id ="activeCardButtons" class="relative-buttons-card d-flex justify-content-between">
          <!-- <button class="flip" value="Flip" type="submit">Flip</button> -->
          <div class="know-button">
            <button id="know" class="know btn btn-outline-success btn-sm ml-2"><%= link_to "", user_cards_path(user_deck_id: @user_deck.id ,answer:"xxx", result: true, card_id: card.id, user_id: current_user.id), method: :post, class:"fas fa-check-square" %></button>
          </div>
          <div class="user-answer-button text-center">
            <button id="user-answer" class="user-answer btn btn-outline-secondary btn-sm m-2" type="button" value="Type your Answer"> Type an Answer</button>
          </div>
          <div class="unknow-button">
            <button id="unknow" class="unknow btn btn-outline-danger btn-sm mr-2"><%= link_to "", user_cards_path(user_deck_id: @user_deck.id, answer:"xxx", result: false, card_id: card.id, user_id: current_user.id), method: :post, class:"fas fa-times-circle" %></button>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <button id="instructions" value="Instruction" class="btn btn-outline-info btn-sm">
      <i class="far fa-question-circle"></i>
    </button>
  </div>
  <div id="flash-instructions" class="hidden">
    <h5 class="text-center">Instructions:</h5>
    <div class=container>
      <div class="border border-dark text-center pt-2">
        <p>Check the answer? <strong>DoubleTap</strong><br>Know the answer? tap <strong> Know it!</strong><br>Don't know? tap <strong>Don't Know</strong><br>Input answer to compare? <strong>Answer Me</strong></p>
      </div>
    </div>
  </div>
</div>



