<h1 class='text-center'><%= @user_deck.deck.name %></h1>
<div class="card-container swiper-container mySwiper">
  <div class="swiper-wrapper">
    <% @user_deck.deck.cards.each_with_index do |card, i|%>
      <div id="card-<%= i %>" class="card swiper-slide" style="display: block;">
        <h2>Question:</h2>
        <div class="question" style="dispaly: block;">
          <%= card.question %>
        </div><br>
        <hr><br>
        <div class="answer hidden">
          <h2>Answer:</h2>
          <div class="flashcard-content"><%= card.answer %> </div>
        </div>
        <div class="text-box hidden mb-3">
          <form>
            <!-- need to update this submit button to link to user_cards answer column -->
            <input type="text">
            <input type="submit">
          </form>
        </div>
        <div class="hint hidden">
          <h4>Hint:</h4>
          <div class="flashcard-content"><%= card.hint %> </div>
        </div>
        <br>
        <div id ="activeCardButtons">
          <button id="flip" type="button" value="Flip" onClick="flip()">Flip</button>
          <!-- "Know" to ckeck if user_card exist? create or update -->
          <% if @user_cards.select { |user_card| user_card.card_id == card.id }.count.zero?%>
            <button id="know" onclick="nextCard()"><%= link_to "Know", user_cards_path(answer:"xxx", result: true, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <% else %>
            <button id="know" onclick="nextCard()"><%= link_to "Know", user_card_path(@user_cards.select { |user_card| user_card.card_id == card.id }, answer:"xxx", result: true, card_id: card.id, user_id: current_user.id), method: :put %></button>
          <% end %>
          <!-- "Don't Know" to ckeck if user_card exist? create or update -->
           <% if @user_cards.select { |user_card| user_card.card_id == card.id }.count.zero?%>
            <button id="unknow"><%= link_to "Don't Know", user_cards_path(answer:"xxx", result: false, card_id: card.id, user_id: current_user.id), method: :post %></button>
          <% else %>
            <button id="unknow" on><%= link_to "Don't Know", user_card_path(@user_cards.select { |user_card| user_card.card_id == card.id }, answer:"xxx", result: false, card_id: card.id, user_id: current_user.id), method: :put %></button>
          <% end %>
          <button id="hint" type="button" value="hint" onClick="hint()"> Hint </button>
          <button id="user-answer" type="button" value="Type your Answer" onClick="add()"> Answer Me </button>
        </div>
        <br>
      </div>
    <% end %>
  </div>
  <br>
  <hr>
  <div class="text-center">
    <button id="instructions" type="button" value="Instruction" onclick="instruction()">❓</button>
  </div>
  <div id="flash-instructions" class="hidden">
    <h5 class="text-center">Instructions:</h5>
    <div class=container>
      <div class="border border-dark text-center pt-2">
        <p>Check the answer? tap <strong>Flip</strong><br>Know the answer? <em>Swipe ➡️</em><br>Don't know? tap <strong>Don't Know</strong><br>Input answer to compare? <strong>Answer Me</strong></p>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>



