<h1 class="text-center mt-3">Edit your Cards</h1>
  <div class = "form">
    <div class = "deviseform text-center" >
      <div class = "conatiner auto text-center">
        <div class = "row d-flex justify-content-center">
          <div class = "well txtSmall text-center">
            <%= form_for(@card) do |f| %>
          <div class="form-group mx-2">
            <%= f.label :question %>
            <%= f.text_field :question, class: 'form-control' %>
          </div>
          <div class="form-group mx-2">
            <%= f.label :answer %>
            <%= f.text_field :answer, class: 'form-control' %>
          </div>
          <div class="form-group mx-2">
            <%= f.label :hint %>
            <%= f.text_field :hint, class: 'form-control' %>
          </div>
          <div class="text-center p-3">
            <%= f.submit class: 'btn btn-warning'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
