<div class="container">
  <h1>Create a New Card!</h1>
  <%= simple_form_for([@deck, @card]) do |f| %>
  <%= f.input :question %>
  <%= f.input :answer %>
  <%= f.input :hint %>
  <%= f.submit "Create Card" %>
  <% end %>
  <%= link_to "Back to Deck", deck_path(@deck) %>
</div>


