
<h1 class="text-center m2">All Decks</h1>
<div class="text-center mb-2">
  <%= link_to " My Profile", user_decks_path(@user_decks), class:"btn btn-primary btn-sm" %> <br>
</div>
<div class="container">
  <div class=" list-group">
    <h2 class="text-center">Le Wagon Decks</h2>
    <% @lw_decks.each do |deck| %>
      <div class=" list-group-item">
        <i class="fa fa-angle-right"></i>
        <span><%= link_to deck.name, deck_path(deck) %></span>
        <% if policy(deck).update? %>
          <%= link_to "Edit", edit_deck_path(deck), class:"btn btn-danger btn-sm" %>
        <% end %>
        <% if policy(deck).destroy? %>
          <%= link_to "Delete", deck_path(deck), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-sm" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <div class=" list-group">
    <h2 class="text-center">My Own Decks</h2>
    <div class="text-center">
    <%= link_to "Add New Deck", new_deck_path, class: "btn btn-primary btn-sm m-2" %>
    </div>
    <% @my_decks.each do |deck| %>
      <div id="relative-index" class="list-group-item">
        <i class="fa fa-angle-right"></i>
        <span><%= link_to deck.name, deck_path(deck) %> </span>
        <div id="absolute-index" class="d-flex">
          <% if policy(deck).update? %>
            <%= link_to "", edit_deck_path(deck), class:"far fa-edit" %>
          <% end %>
          <% if policy(deck).destroy? %>
            <%= link_to "", deck_path(deck), method: :delete, data: { confirm: "Are you sure?" }, class:"fas fa-trash ml-3" %>
          <% end %>
       </div>
        </div>
    <% end %>
  </div>
</div>
