<% if !@deck.errors.empty? %>
  <div class = "alert alert-error">
    <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1 class="text-center mt-3">Add New Deck</h1>
 <div class = "form">
   <div class = "deviseform text-center">
     <div class = "container auto text-center">
       <div class = "row d-flex justify-content-center">
          <div class = "well txtSmall text-center">
            <%= form_for @deck do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
              <br>
              <p class = "text-center mt-2">(Optional) Import Cards from csv</p>
              <div class="attach-file-button">
                <%= f.file_field :attachment, class: "text-center"%>
              </div>
              <%= link_to "download csv template", download_csv_path %>
              <br><br>
              <div class = "button text-center">
              <%= f.submit "Save", class: "btn btn-warning my-1"  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
