  <h1><%= @deck.name %></h1>
  <%= link_to "New Card", new_deck_card_path(@deck) %>
  <div class="card-container">
<% @deck.cards.each_with_index do |card, i|%>
  <div id="card-<%= i %>" class="card" style="display: none;">
    <p class="question" style="dispaly: block;"><%= card.question %></p><br>
    <hr><br>
    <div class="answer hidden">
      <div><%= card.answer %> </div>
    </div>
    <div id ="activeCardButtons">
    <button id="flip" type="button" value="Flip" onclick="flip()">Flip</button>
    <button id="next" onclick="nextCard()">Next Card </button>
    <button id="hint" type="button" value="hint" onClick="hintView()"> Hint </button>
    </div>
      <br>
  </div>
  <% end %>
  </div>

<script type="text/javascript">
  let currentIndex = 0
  let nextIndex = 1
  let cards = document.querySelectorAll(".card")

  let current = document.getElementById(`card-${currentIndex}`)
  current.style.display = "block"

  let next = document.getElementById(`card-${nextIndex}`)

  let questions = document.querySelectorAll(".question")
  let answers = document.querySelectorAll(".answer")

  function nextCard() {
    answers.forEach(e => e.classList.add("hidden"))
    questions.forEach(e => e.classList.remove("hidden"))
    current.style.display = "none"
    next.style.display = "block"
    current = next
    currentIndex = currentIndex === (cards.length - 1) ? 0 : currentIndex + 1
    nextIndex = nextIndex === (cards.length - 1) ? 0 : nextIndex + 1
    next = document.getElementById(`card-${nextIndex}`)
  }


  function flip() {
    // questions.forEach(e => e.style.display = "block")
    answers.forEach(e => e.classList.toggle("hidden"))
  }
</script>
