<h1><%= @deck.name %></h1>
<%= link_to "Play this deck", user_decks_path(status: 0, deck_id: @deck.id, user_id: current_user.id), method: :post %>
<br>
<%= link_to "New Card", new_deck_card_path(@deck) %>
<ul>
  <% @deck.cards.each do |card|%>
    <div class="card">
      <p>Question: <%= card.question %></p>
      <p>Answer: <%= card.answer %></p>
      <p>Hint: <%= card.hint %></p>
      <%= link_to "Edit Card", edit_card_path(card)%>
      <%= link_to "Delete Card", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</ul>
<%= link_to "Edit Deck", edit_deck_path %>
<%= link_to "Delete Deck", deck_path(@deck), method: :delete, data: { confirm: "Are you sure?" } %>
