<h1><%= @deck.name %></h1>
<!-- added if statement, if not exist, then create; if exist, then show -->
<% if @user_decks.select{ |user_deck| user_deck.deck_id == @deck.id }.count == 0 %>
  <%= link_to "Play this deck", user_decks_path(status: 0, deck_id: @deck.id, user_id: current_user.id), method: :post, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Play this deck", user_deck_path(@user_decks.select{ |user_deck| user_deck.deck_id == @deck.id }), class: "btn btn-primary" %>
<% end %>

<%= link_to "New Card", new_deck_card_path(@deck), class: "btn btn-primary" %>

<ul>
  <% @deck.cards.each do |card|%>
    <div class="card">
      <li>Question: <%= card.question %></li>
      <li>Answer: <%= card.answer %></li>
      <li>Hint: <%= card.hint %></li>
      <%= link_to "Edit Card", edit_card_path(card)%>
      <%= link_to "Delete Card", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>

  <% end %>
</ul>


<script type="text/javascript">

</script>
