<h1 class="text-center"><%= @deck.name %></h1>
<div class="button-container text-center">
<%= link_to " << Back to All Decks", decks_path, style:"text-decoration: underline;" %><br>
<%= link_to "Play this deck", user_decks_path(status: 0, deck_id: @deck.id, user_id: current_user.id), method: :post, class: "btn btn-primary" %>
<br>
<%= link_to "New Card", new_deck_card_path(@deck), class: "btn btn-primary" %>
</div>

<ul class="list-group">
  <% @deck.cards.each_with_index do |card, i|%>
    <div id="deck-card-<%= i %>" class="card">
      <li class="list-group-item question">Question: <%= card.question %> </li>
      <li class="list-group-item answer">Answer: <%= card.answer %></li>
      <div class= "activeCardButtons d-flex m-2" >
      <% if policy(@deck).update? %>
        <%= link_to "Edit Card", edit_card_path(card), class:"btn btn-primary btn-sm mr-2"%>
      <% end %>
      <% if policy(@deck).destroy? %>
        <%= link_to "Delete Card", card_path(card), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-sm" %>
      <% end %>
      </div>
    </div>
  <% end %>
</ul>


<script type="text/javascript">

</script>
