<h1><%= @deck.name %></h1>

<ul>
  <% @deck.cards.each do |card|%>
    <li>Question: <%= card.question %></li>
    <li>Answer: <%= card.answer %></li>
    <li>Hint: <%= card.hint %></li>
    <br>
    <%= link_to "edit", edit_card_path(card)%>
    <%= link_to "delete", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to "Edit", edit_deck_path %>
<%= link_to "Delete", deck_path(@deck), method: :delete, data: { confirm: "Are you sure?" } %>
